{% extends "base.html" %}
{% block no_div %}
{% load bootstrap %}

<div align="center" style="margin-top:5%;zoom:1.2;">
    <h1> Congrats </h1>
    <h3> We want people like you </h3>
    {% if file_info %}
        <h2>{{ file_info }}</h2>
    {% endif %}
    <form action="/becomeAJedi/" method="post" class="form-horizontal" enctype="multipart/form-data"> {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
