{% extends "base.html" %}
{% block content %}

<p> Sometimes we forget our password. Please, find it to unlock the challenge. </p>
<form action="/login/" method="post" class="form-horizontal"> {% csrf_token %}
    <input type="hidden" name="user" value="{{ username }}" />
    <!-- The password is {{ password }} -->

    <div class="clearfix">
        <label for="id_pass">Password: </label>
        <div class="input">
            <input id="id_pass" type="text" name="pass" maxlength="50" value="ChangeIt"/>
        </div>

    </div>
    
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Find your fate!</button>
    </div>
</form>

{% endblock %}
