{% extends "base.html" %}
{% block content %}

    <h2> Sometimes we forget our password. </h2>
    <h2> Please, find it to unlock the challenge. </h2>

    <form action="/login/" method="post" class="form-horizontal"> {% csrf_token %}

        <input type="hidden" name="user" value="{{ username }}" />

        </br>

        <div class="control-group" id="PASS_FIELD">

            <label class="control-label" for="id_pass" align="center">
                Password: 
            </label>

            <div style="display:none;">
		The password is {{ password }}
            </div>

            <div class="controls">
                <input id="id_pass" type="text" name="pass" maxlength="50" value="ChangeIt"/>
                 <!-- The password is {{ password }} -->
            </div>

        </div>
    
        </br>        
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Find your fate!</button>
        </div>

    </form>

{% endblock %}
